
/*
Default Color Style
=================================================*/
$black: #000000;
$white: #ffffff;
$primary: #9edd05;
$primary-two: #46b900;
$warning: #ff9c00;
$red-color: #ea0000;
$warning-two: #fffaeb;
$paragraph: #072720;
$paragraph-two: #29594b;
$heading-color: #082720;
$emphasis-color: #0c3a30;
$secondary-color: #eef1ee;
$secondary-two: #edf1ee;
$transition: all ease 0.5s;
$font-size: 16px;

/*
Default Font Style
=================================================*/
$body-font-family: "Inter Tight", sans-serif;